@*Author: Seb*@
@inject NavigationManager Navigation

<CascadingAuthenticationState>
    <Router AppAssembly="typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(MainLayout)">
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated == false)
                    {
                        <p><em>Redirecting to login page..</em>.</p>
                        Navigation.NavigateTo("/login");
                    }
                    else
                    {
                        Navigation.NavigateTo("/Unauthorized");
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not Found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <div>
                    <h2 style="color: #dd5c41;">Sorry, there's nothing to show you here.</h2>
                    <iframe src="https://giphy.com/embed/8L0Pky6C83SzkzU55a" width="480" height="480" frameBorder="0" style="pointer-events: none; user-select: none;"></iframe>
                </div>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>