@inherits LayoutComponentBase
@using DTOs.RealtorDTOs
@using Echo_HomeApplication.Components

<Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" />

<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="">EchoHomeApp</a>
        <button class="navbar-toggler @NavButtonCssClass" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-label="Toggle navigation" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse @NavBarCssClass" id="navbarCollapse" @onclick="ToggleNavMenu">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="estates">
                        <span class="oi oi-plus" aria-hidden="true"></span> Estate
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/realtorfirms">
                        <span class="oi oi-plus" aria-hidden="true"></span> Realtor firms
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/realtor">
                        <span class="oi oi-plus" aria-hidden="true"></span> Realtors
                    </NavLink>
                </li>
                     <UserState /> 
            </ul>
        </div>
    </div>
</nav>

@code {

    private bool collapseNavMenu = true;
    private string? NavBarCssClass => collapseNavMenu ? null : "show";
    private string? NavButtonCssClass => collapseNavMenu ? "collapsed" : null;

    protected override async Task OnInitializedAsync()
    {
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}


<main class="container">
    @Body
</main>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


