@page "/"

<PageTitle>Home</PageTitle>


@* <AuthorizeView>

    <Authorized Context="first">

        <AuthorizeView Roles="SuperAdmin">
            <p>
                You ARE logged in as superadmin!
            </p>
        </AuthorizeView>

        <AuthorizeView Roles="Realtor">
            <p>
                You ARE logged in as realtor!
            </p>
        </AuthorizeView>

    </Authorized>

    <NotAuthorized>
        <p>You are NOT logged in!</p>
    </NotAuthorized>

</AuthorizeView> *@

@* <AuthorizeView>
    <Authorized Context="authContext">
        <p>
            User claims:
        </p>
        <ul>
            @foreach (var claim in authContext.User.Claims)
            {
                <li>@claim.Type: @claim.Value</li>
            }
        </ul>

        <AuthorizeView Roles="SuperAdmin">
            <Authorized>
                <p>
                    You ARE logged in as superadmin!
                </p>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Realtor">
            <Authorized>
                <p>
                    You ARE logged in as realtor!
                </p>
            </Authorized>
        </AuthorizeView>
    </Authorized>

    <NotAuthorized>
        <p>You are NOT logged in!</p>
    </NotAuthorized>
</AuthorizeView> *@


