@page "/"

<PageTitle>Home</PageTitle>
<AuthorizeView>
    <Authorized>
        <p>You ARE logged in!</p>
    </Authorized>
    <NotAuthorized>
        <p>You are NOT logged in!</p>
    </NotAuthorized>
</AuthorizeView>
