@page "/"

<PageTitle>Home</PageTitle>
<AuthorizeView>

    <Authorized Context="first">

        <AuthorizeView Roles="SuperAdmin">
            <p>
                You ARE logged in as superadmin!
            </p>
        </AuthorizeView>

        <AuthorizeView Roles="Realtor">
            <p>
                You ARE logged in as realtor!
            </p>
        </AuthorizeView>

    </Authorized>

    <NotAuthorized>
        <p>You are NOT logged in!</p>
    </NotAuthorized>

</AuthorizeView>



