@*Author: Seb*@
@page "/notfound"
<PageTitle>Not found</PageTitle>

<div>
    <h2 style="color: #dd5c41;">Sorry, there's nothing to show you here.</h2>
    <iframe src="https://giphy.com/embed/8L0Pky6C83SzkzU55a" width="480" height="480" frameBorder="0" style="pointer-events: none; user-select: none;"></iframe>
</div>