@*Author: Seb*@
@page "/notfound"
<PageTitle>Not found</PageTitle>

<div>
    <h2 style="color: #dd5c41;">Sorry, there's nothing to show you here.</h2>
    @* <iframe src="https://giphy.com/embed/8L0Pky6C83SzkzU55a" width="480" height="480" frameBorder="0" style="pointer-events: none; user-select: none;"></iframe> *@
    <img src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExOG9najZ5a243ZWZ2dmd3b281a2J0b2NtYmFudTd6NzA3eHRhMGt2eSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/aQPFxg6JQQoaOfBoui/giphy.gif" height="1000px" width=“2000px />
</div>